<!DOCTYPE html>
<html>
<head>
    <title>Arvion poistaminen</title>
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>
    <div class="container">
    <h1>Arvion poistaminen</h1>
    <p>Haluatko varmasti poistaa tämän arvion?</p>
    <form action="/delete_rating/{{ rating.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}"> 
        <input type="submit" name="remove" value="Poista arvio">
        <input type="submit" name="back" value="Peruuta">
    </form>
    </div>
</body>
</html>