<!DOCTYPE html>
<html>
<head>
  <title>Peli julkaisun poisto</title>
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <h1>Peli julkaisun poisto</h1>   
    <p> Peli: {{ item.title }}</p>
    <p>Julkaisija: {{ item.username }}</p>

    <p>Haluatko varmasti poistaa julkaisun?</p>

    <form action="/delete_item/{{ item.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="submit" name="remove" value="Poista julkaisu">
        <input type="submit" name="back" value="Takaisin">
    </form>

</div>
</body>

</html>