<!DOCTYPE html>
<html>
<head>
  <title>Muokkaa peliä</title>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
  <h1>Muokkaa peliä</h1>

  <form action="/update_item/{{ item.id }}" method="post">
    <p>
      <label for="title">Otsikko</label>
      <input type="text" name="title" value="{{ item.title }}" id="title" maxlength="100" required>
    </p>

    <p>
      <label for="desc">Kuvaus</label>
      <textarea id="desc" name="content" rows="5" cols="40" maxlength="5000" required>{{ item.content }}</textarea>    </p>

    <p>
      <label for="hinta">Hinta</label>
      <input type="number" name="price" step="0.01" value="{{ item.price }}" id="hinta" required>
    </p>

    <p>
      Genre: <br>
      <label for="genre">Genre</label>
      <select name="genre" id="genre" multiple size="6" required>
        <option value="Toiminta" {% if "Toiminta" in item.genre.split(",") %}selected{% endif %}>Toiminta</option>
        <option value="Seikkailu" {% if "Seikkailu" in item.genre.split(",") %}selected{% endif %}>Seikkailu</option>
        <option value="RPG" {% if "RPG" in item.genre.split(",") %}selected{% endif %}>RPG</option>
        <option value="Strategia" {% if "Strategia" in item.genre.split(",") %}selected{% endif %}>Strategia</option>
        <option value="Simulaatio" {% if "Simulaatio" in item.genre.split(",") %}selected{% endif %}>Simulaatio</option>
        <option value="Muu" {% if "Muu" in item.genre.split(",") %}selected{% endif %}>Muu</option>
      </select>
    </p>
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="id" value="{{ item.id }}">
    <input type="submit" value="Tallenna muutokset">
  </form>
  </div>
</body>
</html> 