<!DOCTYPE html>
<html>

<head>
  <title>Etsi peliä</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <h1>Etsi peliä</h1>
    <form action="/find_item" method="get">
        <p>
            Otsikko: <br />
            <input type="text" name="title" value = "{{title or ""}}" />
        </p>    
        <input type="submit" value="Hae" />
    </form>

    <p>
        <a href="/">Takaisin</a>
    </p>

    {% if title %}
    <h2>Tulokset</h2>
    <ul>
        {% for post in results %}
        <li>
            <a href="/item/{{ post.id }}">{{ post.title }}</a>
        </li>   
        {% endfor %}
    {% endif %}
    </ul>
    </div>
</body>

</html>        