<!DOCTYPE html>
<html>

<head>
  <title>PeliSivu</title>
</head>

<body>
    <h1>PeliSivu</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, ja id-numerosi on {{ session.user_id }}
  </p>
  <p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/register">Luo tunnus</a>
  </p>
    <p>
    <a href="/new_item">Luo uusi postaus</a>
    <a href="/find_item">Etsi peliä </a>
    <a href="/user_page/{{ session.user_id }}">Käyttäjän tiedot</a>
  </p>
{% if posts %}
<h2>Pelit</h2>
<ul>
  {% for post in posts %}
    <li>
      <a href="/item/{{ post.id }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>


{% else %}
  <p>Ei vielä postauksia.</p>
{% endif %}


{% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <p>
      <input type="submit" value="Kirjaudu" />
    </p>
  </form>

  <p>— tai —</p>
  
  <p>
    <a href="/register">Luo uusi tunnus</a>
  </p>
{% endif %}
</body>

</html>