<!DOCTYPE html>
<html>
<head>
  <title>Uusi Peli</title>
  <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>
    <div class="container">
    <h1>Julkaise uusi peli</h1>
  <form action="/create_item" method="post">
    <p>
      <label for="title">Pelin nimi</label>
      <input type="text" name="title" id="title" />
    </p>
    <p>
      <label for="desc">Kuvaus</label>
      <textarea name="content" rows="5" cols="40" id="desc"></textarea>
    </p>
    <p>
      <label for="hinta">Hinta</label>
      <input type="number" name="price" step="0.01" id="hinta" /> €
    </p>
    <p>
      <label for="genre">Genre</label>
      <select name="genre" id="genre">
        <option value="Toiminta">Toiminta</option>
        <option value="Seikkailu">Seikkailu</option>
        <option value="RPG">RPG</option>
        <option value="Strategia">Strategia</option>
        <option value="Simulaatio">Simulaatio</option>
        <option value="Muu">Muu</option>
      </select>
    </p>
    <input type="submit" value="Julkaise peli" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  </form>
  <p>
    <a href="/">Palaa etusivulle</a>
  </p>
    </div>
</body>
</html>
