<!DOCTYPE html>
<html>
<head>
  <title>Uusi Peli</title>
  <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>
    <div class="container">
    <h1>Lisää uusi peli</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="content" rows="5" cols="40"></textarea>
    </p>
    <p>
      Hinta: <br />
      <input type="number" name="price" step="0.01" /> €
    </p>
    <p>
      Genre: <br />
      <select name="genre">
        <option value="Toiminta">Toiminta</option>
        <option value="Seikkailu">Seikkailu</option>
        <option value="RPG">RPG</option>
        <option value="Strategia">Strategia</option>
        <option value="Simulaatio">Simulaatio</option>
        <option value="Muu">Muu</option>
      </select>
    </p>
    <input type="submit" value="Lisää peli" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
    </div>
</body>
</html>
