<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
  <h1>Luo uusi tunnus</h1>
  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
  </form>
  <p>
    <a href="/">Takaisin</a>
  </p>
  </div>
</body>

</html>