<!DOCTYPE html>
<html>
<head>
  <title>Käyttäjän tiedot</title>
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h1>Käyttäjän tiedot</h1>   
    <p>Käyttäjänimi: {{ user.username }}</p>
    <h2>Käyttäjän julkaisemat pelit</h2>
    {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <a href="/item/{{ post.id }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Ei vielä julkaistuja pelejä.</p>
    {% endif %}

    <h3>Käyttäjän antamat arviot</h3>
    {% if ratings %}
    <ul>
      {% for rating in ratings %}
        <li>
          <a href="/item/{{ rating.post_id }}">{{ rating.title }}</a>: {{ rating.rating }}/5
          {% if rating.comment %}
            - {{ rating.comment }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>Ei vielä annettuja arvioita.</p>
    {% endif %}
    <p><a href="/">Takaisin etusivulle</a></p>
  </div>
</body>
</html>